<div class="container-fluid">

  <div class="container">

    <div id="search" class="row">

      <div id="searchSkills" class="col-lg-5 col-sm-12">
        Search Skills
        <app-search-skills></app-search-skills>
      </div>
      
      <div id="video" class="col-lg-7 col-sm-12">
        Video
      </div>

    </div>
    <div id="explore" class="row">
      <div class="col-12">Explorer</div>
    </div>

    <div id="learningPath" class="row">
      <div class="col-12">Learning Path</div>
    </div>
    
    <div id="inDemand" class="row">
      <div class="col-12">Most In-demand</div> 
    </div> 



  </div>

</div>