<div class="container-fluid login-background">
  <div class="container">
    <div class="row">
      <div class="col-8 mx-auto login-card">

          <div class="card text-center p-5 card-shadow">
              <div class="card-block">
                  <img src="../assets/logos/kplogo.png" alt="Keypoint Logo">

              <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
                <div *ngIf="username.errors.required">
                  Username is required.
                </div>
                <div *ngIf="username.errors.minlength">
                  Invalid username. Please try again.
                </div>
             </div>
                <form (submit)="login()">
                    <div class="form-group">
                      <input type="text" name="username" [(ngModel)]="username" class="form-control" id="username" aria-describedby="username" placeholder="Username" required minlength="4">
                    </div>
                    <div class="form-group">
                      <input type="password" name="password" [(ngModel)]="password"  class="form-control" id="password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                  </form>
              </div>
            </div>
      </div>
    </div>
  </div>
</div>

