
<h4 class="display-">Own your future by boosting your professional skills</h4>

<form action="" (submit)="searchSkill()">
  <div class="input-group mb-3">
    <input type="text" name="searchSkill" class="form-control" [(ngModel)]="skill" placeholder="What skills are you looking for?" aria-label="Search Skills">
    <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="submit">
        <span class="oi oi-magnifying-glass"></span> 
    </button>   
    </div>
  </div>
</form>

<h5>You were born curious</h5>

<h4>NEVER STOP LEARNING</h4>
