<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="home">
    <img src="../assets/logos/kplogo.png" alt="Keypoint Logo" width="100px" height="35px">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="home" class="nav-link">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="skills-catalog" class="nav-link">Skill Catalog</a>
      </li> 
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="explore" class="nav-link">Explore</a>
      </li>
    </ul>

    <div class="btn-group" dropdown>
      <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
        <a routerLink="profile"><img src="../assets/images/Users/louis-litt.png" class="rounded-circle profile-pic" alt="Profile Picture"></a>
        <span class="caret"></span>
      </button>
      <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
        <li role="menuitem"><button class="dropdown-item">Settings</button></li>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem"><button (click)="logout()" class="dropdown-item">Logout</button>
        </li>
      </ul>
    </div>

  </div>
</nav>