<div class="row">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <span class="oi oi-magnifying-glass"></span> 
      </span>   
    </div>
    <input type="text" name="searchSkill" class="form-control" [(ngModel)]="skill" (keyup)="searchSkill()" placeholder="What skill are you looking for?" aria-label="Search Skill">
  </div>
</div>

<tabset>
  <tab heading="All" id="tab1">
    <div class="row p-3" *ngIf="shouldPaginate">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
    <div class="row no-gutters">
        <div class="col-lg-4 col-md-6 col-sm-12 p-4" *ngFor="let skill of skillsResults | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
          <div class="card card-shadow" (click)="setSelectedSkill(skill); lgModal.show()">
            <img class="card-img-top" src="../assets/images/Skills/adobe-experience-design.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{skill.name}}</h5>
              <p class="card-text"><small>{{skill.description}}</small></p>
            </div>
          </div>
        </div>
    </div>
    <div class="row p-3" *ngIf="shouldPaginate">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </tab>
  <tab heading="My Skills">
    <div class="row no-gutters">
        <div class="col-lg-4 col-md-6 col-sm-12 p-4" *ngFor="let mySkill of mySkills">
          <div class="card card-shadow">
            <img class="card-img-top" src="../assets/images/Skills/axure.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{mySkill.skillModel.name}}</h5>
              <p class="card-text"><small>{{mySkill.skillModel.description}}</small></p>
              <p class="h4 card-text text-right"><span class="badge badge-info">{{mySkill.levelModel.title}}</span></p>
            </div>
          </div>
        </div>
    </div>
  </tab>
</tabset>



<!-- MODAL -->
<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-6">
                <div class="card">
                  <img class="card-img-top" src="../assets/images/Skills/adobe-experience-design.png" alt="Card image cap">
                  <div class="card-body" *ngIf="isSelectedSkill">
                    <h5 class="card-title">{{selectedSkill.name}}</h5>
                    <p class="card-text"><small>{{selectedSkill.description}}</small></p>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <p class="h5">Select your level of expertise</p>
                <p>
                  <rating [max]="5" [(ngModel)]="skillRatingLevel" [customTemplate]="skillRating"></rating>
                  <ng-template #skillRating let-i="index" let-v="value">
                    <button class="btn btn-{{i < v ? 'primary' : 'default'}}" (click)="setLevelDescription(v)">
                      {{i < v ? '&#9733;' : '&#9734;'}}
                    </button>
                  </ng-template>
                </p>
                <p class="h5">{{levelSelected.title}}</p>
                <p>{{levelSelected.description}}</p>
                <p>
                  <button type="button" class="btn btn-outline-primary btn-lg pull-right" (click)="saveSelectedSkill()">Save</button>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
  <!-- MODAL -->