
<div class="row">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <span class="oi oi-magnifying-glass"></span> 
      </span>   
    </div>
    <input type="text" name="searchSkill" class="form-control" [(ngModel)]="skill" (keyup)="searchSkill()" placeholder="What skill are you looking for?" aria-label="Search Skill">
  </div>
</div>

<div class="row">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" href="#">All</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">My Skills</a>
    </li>
  </ul>
</div>

<div class="row no-gutters">
      <div class="col-lg-4 col-md-6 col-sm-12 p-4" *ngFor="let skill of skillsResults">
        <div class="card card-shadow" (click)="showModal()">
            <img class="card-img-top" src="../assets/images/Skills/adobe-experience-design.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{skill.name}}</h5>
              <p class="card-text"><small>{{skill.description}}</small></p>
            </div>
          </div>
      </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade skill-modal" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


